.secure-layout-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.show{
    color: red;
}
.scssstyle{
    background-color: pink;
    width: 400px;
    height: 400px;
}